Repository AniketTancoder/personal-dashboard: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Backend, Test Frontend, Build and Push Backend, Build and Push Frontend

Jenkinsfile:

pipeline {
    agent any
    environment {
        AWS_REGION = 'us-east-1'
        ECR_REPOSITORY = 'backend-api'
        K8S_NAMESPACE = 'ci-cd-demo'
    }
    stages {
        stage('Checkout') {
            steps {
                checkout scm
            }
        }
        stage('Test Backend') {
            when {
                changeset "backend/**"
            }
            steps {
                sh 'cd backend && npm install'
                sh 'cd backend && npm test'
            }
        }
        stage('Test Frontend') {
            when {
                changeset "frontend/**"
            }
            steps {
                sh 'cd frontend && npm install'
                sh 'cd frontend && npm test -- --watchAll=false'
            }
        }
        stage('Build and Push Backend') {
            when {
                changeset "backend/**"
                branch "main"
            }
            steps {
                withAWS(credentials: 'aws-credentials', region: "${AWS_REGION}") {
                    sh "aws ecr get-login-password --region ${AWS_REGION} | docker login --username AWS --password-stdin ${env.AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"
                    sh "cd backend && docker build -t ${env.AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${env.GIT_COMMIT} ."
                    sh "docker push ${env.AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}:${env.GIT_COMMIT}"
                }
            }
        }
        stage('Build and Push Frontend') {
            when {
                changeset "frontend/**"
                branch "main"
            }
            steps {
                withAWS(credentials: 'aws-credentials', region: "${AWS_REGION}") {
                    sh "aws ecr get-login-password --region ${AWS_REGION} | docker login --username AWS --password-stdin ${env.AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"
                    sh "cd frontend && npm run build"
                    sh "cd frontend && docker build -t ${env.AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/frontend-app:${env.GIT_COMMIT} ."
                    sh "docker push ${env.AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/frontend-app:${env.GIT_COMMIT}"
                }
            }
        }
        stage('Deploy to EKS') {
            when {
                branch "main"
            }
            steps {
                withAWS(credentials: 'aws-credentials', region: "${AWS_REGION}") {
                    sh "aws eks update-kubeconfig --name ${env.EKS_CLUSTER_NAME}"
                    sh "sed -i 's|<AWS_ACCOUNT_ID>|${env.AWS_ACCOUNT_ID}|g' k8s/backend-deployment.yaml"
                    sh "sed -i 's|<REGION>|${AWS_REGION}|g' k8s/backend-deployment.yaml"
                    sh "sed -i 's|<AWS_ACCOUNT_ID>|${env.AWS_ACCOUNT_ID}|g' k8s/frontend-deployment.yaml"
                    sh "sed -i 's|<REGION>|${AWS_REGION}|g' k8s/frontend-deployment.yaml"
                    sh "kubectl apply -f k8s/namespace.yaml"
                    sh "kubectl apply -f k8s/backend-deployment.yaml"
                    sh "kubectl apply -f k8s/frontend-deployment.yaml"
                    sh "kubectl apply -f k8s/ingress.yaml"
                    sh "kubectl rollout status deployment/backend-api -n ${K8S_NAMESPACE}"
                    sh "kubectl rollout status deployment/frontend-app -n ${K8S_NAMESPACE}"
                }
            }
        }
    }
    post {
        always {
            cleanWs()
        }
        success {
            slackSend channel: '#ci-cd', message: "Build Successful: ${env.JOB_NAME} ${env.BUILD_NUMBER}"
        }
        failure {
            slackSend channel: '#ci-cd', message: "Build Failed: ${env.JOB_NAME} ${env.BUILD_NUMBER}"
        }
    }
}

fix: add terraform files to .gitignore, remove large binaries
  .gitignore
  infra/terraform.tfstate
  infra/terraform.tfstate.backup
Due: none

Update k8s manifests with AWS account info
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

feat: Add comprehensive test suite for backend API
  backend/jest.config.js
  backend/package.json
  backend/src/__tests__/health.test.js
  backend/src/__tests__/news.test.js
  backend/src/__tests__/todos.test.js
  backend/src/__tests__/weather.test.js
  backend/src/index.js
Due: Test Backend, Build and Push Backend

chore: Update package-lock.json with new test dependencies
  backend/package-lock.json
Due: Test Backend, Build and Push Backend

fix: Update smoke test to handle missing curl in containers
  .github/workflows/backend-ci-cd.yml
  backend/Dockerfile
Due: Test Backend, Build and Push Backend

feat: Add version update to footer and CI/CD comment
  frontend/src/App.js
  frontend/src/components/Footer.js
Due: Test Frontend, Build and Push Frontend

fix: Resolve frontend test errors by simplifying test setup
  frontend/package-lock.json
  frontend/package.json
Due: Test Frontend, Build and Push Frontend

fix: Resolve frontend test errors by simplifying test setup
  frontend/package.json
Due: Test Frontend, Build and Push Frontend

fix: Correct frontend test to match actual application content
  frontend/src/App.test.js
Due: Test Frontend, Build and Push Frontend

fix: Update CI/CD to always push latest tag and use Always pull policy
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

test: Trigger CI/CD with small change
  frontend/src/App.js
Due: Test Frontend, Build and Push Frontend

fix: Simplify frontend tests to avoid loading state issues
  frontend/package.json
  frontend/src/App.test.js
Due: Test Frontend, Build and Push Frontend

fix: Simplify frontend tests to avoid loading state issues
  frontend/src/setupTests.js
Due: Test Frontend, Build and Push Frontend

fix: Simplify frontend tests to avoid loading state issues
  frontend/package-lock.json
Due: Test Frontend, Build and Push Frontend

fix: Update to Node 18 and simplify tests to resolve CI issues
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  .github/workflows/update-lockfile.yml
Due: none

fix: updated footer
  frontend/src/components/Footer.css
Due: Test Frontend, Build and Push Frontend

fix: updated frontend and backend yaml.
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

fix: updated frontend and backend yaml.
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  Jenkinsfile
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

fix: updated frontend and backend.
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
Due: none

fix: updated frontend and backend...
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
Due: none

fix: updated frontend and backend....
  frontend/Dockerfile
Due: Test Frontend, Build and Push Frontend

fix: updated App.js
  frontend/src/App.js
Due: Test Frontend, Build and Push Frontend

fix: updated App.js
  .github/workflows/backend-ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
Due: none

Create README.md
  README.md
Due: none

Initial commit: Personal Dashboard with CI/CD
  README.md
  all_code.txt
  all_code_new.txt
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/index.js
  cicd.jpg
  infra/.terraform.lock.hcl
  infra/main.tf
  infra/versions.tf
  k8s/aws-load-balancer-controller.yaml
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
  k8s/ingress.yaml
Due: Test Backend, Build and Push Backend

first commit
  .github/workflows/backend-ci-cd.yml
  .github/workflows/ci-cd.yml
  .github/workflows/frontend-ci-cd.yml
  .github/workflows/update-lockfile.yml
  Jenkinsfile
  all_code.txt
  all_code_new.txt
  backend/Dockerfile
  backend/package.json
  backend/src/index.js
  cicd.jpg
  deploy-k8s.sh
  deploy-local.sh
  docker-compose.prod.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/TodoList.js
  frontend/src/components/Weather.js
  k8s/aws-load-balancer-controller.yaml
  k8s/backend-deployment.yaml
  k8s/frontend-deployment.yaml
  k8s/frontend-ingress.yaml
  k8s/frontend-loadbalancer.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
Due: Test Backend, Test Frontend, Build and Push Backend, Build and Push Frontend

Update CORS to allow Netlify domains
  backend/railway.json
  backend/src/index.js
Due: Test Backend, Build and Push Backend

first commit
  .github/workflows/ci-cd.yml
  frontend/.env
  frontend/netlify.toml
  frontend/src/App.js
  frontend/src/components/TodoList.js
  frontend/src/components/Weather.js
  frontend/src/config.js
Due: Test Frontend, Build and Push Frontend
